.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

.title_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
}

.title_content::before {
  position: absolute;
  content: '';
  background: var(--primary-glow);
  width: 400px;
  height: 175px;
  z-index: -1;
  filter: blur(45px);
}

